certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
Flask==2.0.3
future==0.18.2
idna==3.3
itsdangerous==2.1.0
Jinja2==3.0.3
lizard==1.17.9
mando==0.6.4
MarkupSafe==2.1.0
radon==5.1.0
requests==2.27.1
six==1.16.0
urllib3==1.26.8
Werkzeug==2.0.3
